.conteneur {
  width: 400px;
  margin: auto;
  background-color: mediumpurple;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px;
}
.messages {
  border: solid 2px black;
  padding: 0px 15px;
  background-color: rgba(255,255,255, 0.7);
  display: inline-block;
  width: 91%;
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: darkviolet lightgray;
  scrollbar-width: thin;
}

.M {
  width: 70%;
  padding: 5px;
  margin: 7px 0;
  border-radius: 10px;
}
.M_recu {
  background-color: yellowgreen;
  margin-right: 30%;
}
.M_envoye {
  margin-left: 30%;
  background-color: pink;
  text-align: right;
}
.post {
  margin: 10px;
  display: block;
}

h3, p {
  margin: 0 0 5px 0;
}
.new_message {
  width: 98%;
  margin: 5px auto;
}
.new_submit {
  width: 100%;
  margin: 5px auto;
}

body {
  font-family: montserrat;
}
.M_date {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

/* pagelogin */

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background: #2f3df8;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
